<!-- Vinit Mohanbhai Dabhi - 8804874 -->
<%- include("partials/header.ejs") -%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-5">
        <a class="navbar-brand links" href="/driveTest/home">Book DriveTest</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="dashnav" href="/driveTest/home">DESHBOARD</a>
            </li>
            
            <li class="nav-item notDriver">
                <a class="nav-link"  id="gnav" href="/driveTest/drivertest" >DRIVER EXAM</a>
              </li>
            
            <li class="nav-item" >
                <a class="nav-link" id="loginnav" href="/driveTest/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>


    <!-- dashboard container start -->
    <div class="dashboard bg-dark">
        <div class="headingDiv">
            <h1 class="heading1">
                Driver Test
            </h1>
            <h4 class="heading4">DriveTest Booking Kiosk</h4>
        </div>
    </div>
    <!-- dashboard container end -->
    <!-- form start -->
    <form name="myForm" action="/driveTest/searchDriver" method="post" class="container userForm"
        style="margin-left: 450px;">
        <h3>Search Driver </h3>
        <h5 class=""><sub>Search Driver Using Date</sub></h5>

        <div class="col-sm-5">
            <label for="exampleInputEmail1" class="form-label">Search Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1" name="date"
                aria-describedby="emailHelp" required>
            </div>
        </div>
        <div class="col-sm-5">
            <label for="exampleInputEmail1" class="form-label">Exam Type</label>
            <!-- <div class="col-sm-6"> -->

                <select name="examType" class="form-control"  id="ExamType" style="
                    width: 70%;
                    margin-bottom: 15px;">
                    <option value="G">G</option>
                    <option value="G2">G2</option>
                </select>
                <!-- </div> -->
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2" style="margin-left: 20px; margin-top: 20px;">
                <input type="submit" class="btn btn-primary" id="submit" value="Submit">
            </div>

        </div>
    </form>

    <table class="table" style="width:50%; margin:auto; display: <%= table %>;">
        <thead>
          <% if(result.length >=1) {%>
          <tr>
            <th scope="col">FName</th>
            <th scope="col">LName</th>
            <th scope="col">Age</th>
            <th scope="col">DOB</th>
            <th scope="col">CarCompany</th>
            <th scope="col">CarModel</th>
            <th scope="col">PlateNumber</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i =0; i< result.length; i++) { 
                if(result[i].result == "default" && type == result[i].exam_type ){%>

          <tr>
            <td><%= result[i].fName %></td>
            <td><%= result[i].lName %></td>
            <td><%= result[i].age %></td>
            <td><%= result[i].dob %></td>
            <td><%= result[i].carCompany %></td>
            <td><%= result[i].carModel %></td>
            <td><%= result[i].plateNumber %></td>
            <td><%= result[i].appointment_time %></td>
            <td><a href="/driveTest/exam/<%= result[i]._id %>" class="btn btn-success">Begin Exam</a></td>
          </tr>
            <% } %>
            <% } %>
          <% }else{ %>
            <center>
            <h3 style="display:  <%= table %>;">No data found</h3>
          </center>
          <% } %>

        </tbody>
      </table>
    <script type="text/javascript">
        window.onload=function(){
    
            const input = document.getElementById('exampleInputEmail1');
            const today = new Date().toISOString().substr(0, 10);
            input.value = today;
        }
    
          </script> 
    <%- include("partials/footer.ejs") -%>